@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 14px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #333333;
}

.wrap {
    display: flex;
    width: 100%;
}


/* side */

.side {
    width: 200px;
}

.logo {
    padding: 30px 0;
}

.logo a {
    display: block;
}

.gnb {
    margin: 0 14px;
}
.gnb > li {}
.gnb > li > a {
    display: block;
    padding: 14px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.gnb > li:hover > a {
    background-color: lightblue;
}

.gnb ul {
    display: none;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}
.gnb ul li {}
.gnb ul li a {
    display: block;
    padding: 14px 20px;
}

.gnb ul li:hover a  {
    background-color: lightcyan;
}



/* main */
.main {
    flex: 1;

}

.main .top {
    height: 400px;
    background-color: tomato;
    display: flex;
}

.top .slider {
    /* width: calc(100% - 230px); */
    flex: 1;
    background-color: aqua;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}

.slide a {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
}

.slide a:nth-child(1) {
    left: 0;
}

.slide a:nth-child(2) {
    left: 100%;
}

.slide a:nth-child(3) {
    left: 200%;
}

.slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.top .banner {
    width: 230px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.banner .photo {}
.banner .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arr {
    margin-left: 150px;
}
.arr img {
    width: 40%;
}

/* contents */
.contents {
    height: 250px;
    background-color: #ddd;
    display: flex;
    padding: 20px;
    gap: 50px;
}

.contents div h3 {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30%;
    background-color: #fff;
    text-align: center;
    border: 1px solid #999;
    border-bottom: none;
    font-size: 16px;
}

.notice {
    flex: 1;
    position: relative;
}

.notice ul {
    position: absolute;
    top: 30px;
    left: 0;
    height: 180px;
    width: 100%;
    background-color: #eee;
    padding: 10px;
}

.notice ul li {
    width: 100%;
    gap: 20px;
}
.notice ul li a {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 10px 20px;
}

.notice ul li a:hover {
    text-decoration: underline;
}

.notice ul li a p {
    flex: 8;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notice ul li a span {
    flex: 2;
}

.gallery {
    flex: 1;
    position: relative;
}

.gallery ul {
    position: absolute;
    top: 30px;
    left: 0;
    height: 180px;
    width: 100%;
}

.gallery li {
    float: left;
    width: 28%;
    padding: 20px;
    margin-left: 30px;
}

.gallery li a {
    display: block;
}

.gallery img {
    display: block;
    width: 100%;
    height: 100%;
}



/* footer */
.footer {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #eee;
}

.f_logo {
    width: 200px;
}

.copyright {
    flex: 1;
    padding: 0 30px;
}

.familySite {
    width: 230px;
}


/* modal */
.modal {
    width: 500px;
    height: 300px;
    background-color: lightcyan;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    display: none;
}

.modal h2 {
    font-size: 30px;
}

.modal p {
    line-height: 1.7;
    margin: 20px 0;
}

.modal .close {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
}